@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


.manrope{
    font-family: "Manrope", sans-serif;
}

body{
    font-family: "Manrope", sans-serif;
}

.btn-primary{
    background: linear-gradient(270.00deg, rgba(255, 0, 0, 1),rgba(255, 137.00003051757812, 55.999996185302734, 1) 100%);
}